<div class="flex flex-col flex-auto min-w-0">

    <div>
        <a
            class="mt-8"
            mat-flat-button
            [color]="'primary'"
            (click)="StartTest()">
            <span>Start Test</span>
            <mat-icon
                class="ml-2 icon-size-5"
                [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
        </a>
    </div>
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div #test></div>        

    <pre>
        {{ reactiveComponent | json}}
            </pre>

    </div>

</div>
